/.phpunit.cache
/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.local
.env.*.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.dist
.build
.out
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
coverage/
jspm_packages/
bower_components/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity